<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<title>First VueJs App</title>
</head>

<body>
	<div id="app">
		<h1 v-once>{{ title }}</h1>
		<br>
		<a :href="link">DuckDuckGo</a>
		<input type="text" v-on:input="changeTitle">
		<p>{{ sayHello() }}</p>
		<br>
		<p v-html='referenceLink'></p>
		<button @click='onClickButton(2, $event)'>Click</button>
		<p>{{ counter }}</p>
		<p v-on:mousemove="updateCoordinates">Coordinates: {{ x }} / {{ y }}
			- <span v-on:mousemove.stop=""> DEAD ZONE</span>
		</p>
		<input type="text" v-on:keyup.enter.space="alertMe"><br>
		<input type="text" v-model="name">
		<p>{{ name }}</p>
		
		
	</div>
	<div id="computed">
		<button v-on:click="counter2++">Increment</button>
		<button v-on:click="counter2--">Decrement</button>
		<button v-on:click="secondCounter++">Increment second</button>
		<p>{{result()}}</p><br>
		<p>{{computed}}</p>

	</div>

	<div id="style">
		<div class="demo"
			@click= "attachedRed = !attachedRed"
			:class= "{red: attachedRed}"
		></div>
		<div class="demo" :class="myStyle"></div>
		<div class="demo" :class="color"></div>
		<hr>
		
		<div class="demo" :style="{'backgroundColor': color}"></div>
		<div class="demo" :style="myStyle2"></div>
		<div class="demo" :style="[myStyle2, {height: width + 'px'}]"></div>
		
		<input type="text" v-model="color">
		<input type="text" v-model="width">
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				title: 'Hello World!',
				link: 'https://www.duckduckgo.com/',
				referenceLink: '<a href="https://www.duckduckgo.com/">DuckDuckGo</a>',
				counter: 0,
				x: 0,
				y: 0,
				name : "Salim"
			},
			methods: {
				changeTitle: function (event) {
					this.title = event.target.value;
				},
				sayHello: function () {
					this.title = "Hello!";
					return this.title;
				},
				onClickButton: function(step, event) {
					this.counter += step;
				},
				updateCoordinates: function(event) {
					this.x = event.clientX;
					this.y = event.clientY;
				},
				alertMe: function(){
					alert("Key entered")
				}
			}
		});

		new Vue({
			el: '#computed',
			data: {
				counter2: 0,
				secondCounter: 0
			},
			computed: {
				output: function () {
					return this.counter2 > 5 ? 'Greather than 5' : 'Less than 5'
				}
			},
			watch : {
				counter: function (value) {
					var vue = this;
					setInterval(function(){
						vue.counter2 = 0;
					}, 2000)
				}
			},
			methods: {
				result: function () {
					return this.counter2 > 5 ? 'Greather than 5' : 'Less than 5'
				}
			}
		}) 
	
		new Vue({
			el: "#style",
			data: {
				attachedRed: false,
				color: '',
				width: 100
			},
			computed: {
				myStyle: function() {
					return {
						red: this.attachedRed,
						blue: !this.attachedRed
					}
				},
				myStyle2: function(){
					return {
						backgroundColor: this.color,
						width: this.width + 'px'
					};
				}
			}
		})
	</script>
</body>

</html>