<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Conditional rendering lists</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
	
	<div id="app">
		<p v-if="show">You can see me!</p>
		<p v-if="!show">And now ?!</p>		
		<p>Do you also see me?</p>
		<button @click="show = !show">Show/Hide</button>

		<template v-if="show">
			<p>Hidden block</p>
			<p>Hello World!</p>
		</template>
		<p v-show="show">I'm hiding</p>
	</div>
	
	<script>
		new Vue({
			el: '#app',
			data: {
				show: true
			}
		})
	</script>
</body>

</html>