<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Conditional rendering lists</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
	
	<div id="condition">
		<p v-if="show">You can see me!</p>
		<p v-if="!show">And now ?!</p>		
		<p>Do you also see me?</p>
		<button @click="show = !show">Show/Hide</button>

		<template v-if="show">
			<p>Hidden block</p>
			<p>Hello World!</p>
		</template>
		<p v-show="show">I'm hiding</p>
	</div>
	<hr>
	<div id="loops">
		<ul>
			<li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</ul>
		</ul>
		<hr>

		<ul>
			<li v-for="person in persons">
				<div v-for="(value, key, index) in person">{{ key }} {{ value }} ({{index}})</div>
			</li>
		</ul>
	</div>
	
	<script>
		new Vue({
			el: '#condition',
			data: {
				show: true
			}
		})

		new Vue({
			el: '#loops',
			data: {
				ingredients: ['milk', 'chocolate', 'sugar'],
				persons: [
					{name: 'Salim', age:'23', color:'blue'},
					{name: 'Yildiz', age:'23', color:'red'}
				]
			}
		})
	</script>
</body>

</html>